body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(8, 4, 68);
  font-family: 'Times New Roman', Times, serif;
  color:white;
}
img{
  position: absolute;
  width: 250px;
  height: 240px;
  border-radius: 60%;
  top: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5),0 0 20px rgba(0,0,0,0.3),0 0 30px rgba(0,0,0,0.2), 0 0 40px rgba(0,0,0,0.1);
  animation: backwards;

}

